@background-dark: #131719;
@main-white: #ffffff;
@side-brown: #cca574;

body
{
    background-color: @background-dark;
    font-family: "roboto";
    color: @main-white;
    margin: 0;
}

h1
{
    font-size: 22px;
    font-weight: 400;
    margin: 4px 0 4px 0;
}

h2
{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}