@background-dark: #131719;
@main-white: #ffffff;

body
{
    background-color: @background-dark;
    font-family: "roboto";
    color: @main-white;
}

h1
{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}