@import (reference) "../../index.less";

.chart-input-zone
{
    .buttons-zone
    {
        text-align: center;
        margin-top: 12px;

        .generate-button
        {
            display: inline-block;
            padding: 10px;
            border-radius: 3px;
            font-weight: 300;
            background: @light-blue-grey;
            transition: .15s opacity;
        }
    }
}