@import (reference) "../../index.less";

.chart-input-zone
{
    .chart-input
    {
        display: block;
        width: 80%;
        height: 400px; //TEMP
        margin: auto;
        margin-top: 30px;
        resize: none;
        color: @main-white;
        background: fade(@main-white,10%);
        border: none;
        border-radius: 2px;
        padding: 15px;
        box-sizing: border-box;
    }

    .buttons-zone
    {
        text-align: center;
        margin-top: 12px;

        .generate-button
        {
            display: inline-block;
            padding: 10px;
            border-radius: 3px;
            font-weight: 300;
            background: @light-blue-grey;
            transition: .15s opacity;
        }
    }
}