.show-box
{
    display: inline-block;
    width: 200px;
    margin: 10px;

    img
    {
        width: 100%;
        border-radius: 4px;
    }

    .top-contain
    {
        font-size: 10px;
        margin-bottom: 4px;

        .season
        {
            margin-right: 3px;
            margin-left: 3px;
            color: lightblue; //TEMP COLOUR
        }
    }

    .content-contain
    {
        margin-top: 2px;
        text-align: center;

        h1
        {
            text-align: center;
        }

        .tags
        {
            line-height: .87;
            margin-top: 3px;
            opacity: .5;

            span
            {
                display: inline-block;
                font-size: 9px;
                margin: 0 2px 0 2px;
                vertical-align: top;
            }
        }
    }
}